{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
    <title>{%  block title %} Photo AI | {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
{% endblock %}



{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}


    {% block header %}
        <div class="container">
            <div class="jumbotron text-center">
                <h1>AI Photos Restoration </h1>
                <p>Do you have old photos with blurred face or do you need improve the image quality?. blurry face or old photos?. This application gives you the solution using Artificial Intelligence to improve and recover the quality of your photographs. 100% Free</p>
            </div>
        
        </div>
    {% endblock %}    

    {% block photo_restore %}
    {% endblock %}

    {% block photo_input %}
    {% endblock %}

    {% block mhumerez%}
    {% endblock %}

{% endblock %}